.row{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.brick{
    background-color: blue;
}
.coin{
    background: url('coin.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.pacman{
    background: url('pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.empty{

}